<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="clientCredentials"
      type="System.Configuration.NameValueSectionHandler, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
    <section name="applicationCredentials"
      type="System.Configuration.NameValueSectionHandler, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
    <section name="clientRoles" type="System.Configuration.NameValueSectionHandler, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
  </configSections>

  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
    <add key="EventLogSource" value="MDA Security Service" />
    <add key="EventLogSourceId" value="20" />
    <add key="IsFailOverDatabase" value="false" />
    <add key="TrustedServers" value="DYNACS-PC-01.DYNACSBLR.COM,DYNACS-PC-02.DYNACSBLR.COM,DYNACS-PC-03.DYNACSBLR.COM,DYNACS-PC-04.DYNACSBLR.COM,DYNACS-PC-05.DYNACSBLR.COM,DYNACS-PC-06.DYNACSBLR.COM,DYNACS-PC-07.DYNACSBLR.COM,DYNACS-PC-08.DYNACSBLR.COM" />
  </appSettings>

  <clientCredentials>
    <add key="InsClient" value="sS234@#$" />
    <add key="ManpowerClient" value="sS234@#$" />
    <add key="MipClient" value="sS234@#$" />
    <add key="NcrClient" value="sS234@#$" />
    <add key="AlertClient" value="sS234@#$" />
    <add key="MateDemateClient" value="sS234@#$" />
    <add key="ShippingClient" value="sS234@#$" />
    <add key="EdgClient" value="sS234@#$" />
    <add key="EWorkflowGService" value="sS234@#$" />
    <add key="EWorkflowManagementClient" value="sS234@#$" />
    <add key="EDocumentsGService" value="sS234@#$" />
    <add key="EagClient" value="sS234@#$" />
    <add key="EfgClient" value="sS234@#$" />
    <add key="CapexClient" value="sS234@#$" />
  </clientCredentials>

  <clientRoles>
    <add key="InsClient"
      value="APPLICATIONSETTINGS_ALL,USERLOG_ALL,USERPREFERENCES_ALL,USERSETTINGS_ALL,USERACCOUNT_ALL,USERAPPLICATIONFAVOURITES_ALL,COMPANYINAPPLICATION_ALL,APPLICATION_ALL,USERAPPLICATIONSETTINGS_ALL,SECURITYROLES_ALL,COMPANY_ALL,SERVICEDETAILS_ALL,USERINCOMPANYINAPPLICATIONDETAILS_ALL,SECURITYUSERINROLES_ALL,SKILLS_ALL" />
    <add key="ManpowerClient"
      value="APPLICATIONSETTINGS_ALL,USERLOG_ALL,USERPREFERENCES_ALL,USERSETTINGS_ALL,USERACCOUNT_ALL,USERAPPLICATIONFAVOURITES_ALL,COMPANYINAPPLICATION_ALL,APPLICATION_ALL,USERAPPLICATIONSETTINGS_ALL,SECURITYROLES_ALL,COMPANY_ALL,SERVICEDETAILS_ALL,USERINCOMPANYINAPPLICATIONDETAILS_ALL,SECURITYUSERINROLES_ALL,RO_DEPARTMENT_ALL,RO_EMPLOYEE_ALL,RO_EMPLOYEEADDINFO_ALL" />
    <add key="MipClient"
      value="APPLICATIONSETTINGS_ALL,USERLOG_ALL,USERPREFERENCES_ALL,USERSETTINGS_ALL,USERACCOUNT_ALL,USERAPPLICATIONFAVOURITES_ALL,COMPANYINAPPLICATION_ALL,APPLICATION_ALL,USERAPPLICATIONSETTINGS_ALL,SECURITYROLES_ALL,COMPANY_ALL,SERVICEDETAILS_ALL,USERINCOMPANYINAPPLICATIONDETAILS_ALL,SECURITYUSERINROLES_ALL,RO_DEPARTMENT_ALL,RO_EMPLOYEE_ALL,RO_EMPLOYEEADDINFO_ALL,SKILLS_ALL" />
    <add key="NcrClient"
      value="APPLICATIONSETTINGS_ALL,USERLOG_ALL,USERPREFERENCES_ALL,USERSETTINGS_ALL,USERACCOUNT_ALL,USERAPPLICATIONFAVOURITES_ALL,COMPANYINAPPLICATION_ALL,APPLICATION_ALL,USERAPPLICATIONSETTINGS_ALL,SECURITYROLES_ALL,COMPANY_ALL,SERVICEDETAILS_ALL,USERINCOMPANYINAPPLICATIONDETAILS_ALL,SECURITYUSERINROLES_ALL,RO_DEPARTMENT_ALL,RO_EMPLOYEE_ALL,RO_EMPLOYEEADDINFO_ALL,SKILLS_ALL" />
    <add key="AlertClient"
      value="APPLICATIONSETTINGS_ALL,USERLOG_ALL,USERPREFERENCES_ALL,USERSETTINGS_ALL,USERACCOUNT_ALL,USERAPPLICATIONFAVOURITES_ALL,COMPANYINAPPLICATION_ALL,APPLICATION_ALL,USERAPPLICATIONSETTINGS_ALL,SECURITYROLES_ALL,COMPANY_ALL,SERVICEDETAILS_ALL,USERINCOMPANYINAPPLICATIONDETAILS_ALL,SECURITYUSERINROLES_ALL,RO_DEPARTMENT_ALL,RO_EMPLOYEE_ALL,RO_EMPLOYEEADDINFO_ALL,SKILLS_ALL" />
    <add key="MateDemateClient"
      value="APPLICATIONSETTINGS_ALL,USERLOG_ALL,USERPREFERENCES_ALL,USERSETTINGS_ALL,USERACCOUNT_ALL,USERAPPLICATIONFAVOURITES_ALL,COMPANYINAPPLICATION_ALL,APPLICATION_ALL,USERAPPLICATIONSETTINGS_ALL,SECURITYROLES_ALL,COMPANY_ALL,SERVICEDETAILS_ALL,USERINCOMPANYINAPPLICATIONDETAILS_ALL,SECURITYUSERINROLES_ALL,RO_DEPARTMENT_ALL,RO_EMPLOYEE_ALL,RO_EMPLOYEEADDINFO_ALL,SKILLS_ALL" />
    <add key="ShippingClient"
      value="APPLICATIONSETTINGS_ALL,USERLOG_ALL,USERPREFERENCES_ALL,USERSETTINGS_ALL,USERACCOUNT_ALL,USERAPPLICATIONFAVOURITES_ALL,COMPANYINAPPLICATION_ALL,APPLICATION_ALL,USERAPPLICATIONSETTINGS_ALL,SECURITYROLES_ALL,COMPANY_ALL,SERVICEDETAILS_ALL,USERINCOMPANYINAPPLICATIONDETAILS_ALL,SECURITYUSERINROLES_ALL,RO_DEPARTMENT_ALL,RO_EMPLOYEE_ALL,RO_EMPLOYEEADDINFO_ALL,SKILLS_ALL" />
    <add key="EdgClient"
      value="APPLICATIONSETTINGS_ALL,USERLOG_ALL,USERPREFERENCES_ALL,USERSETTINGS_ALL,USERACCOUNT_ALL,USERAPPLICATIONFAVOURITES_ALL,COMPANYINAPPLICATION_ALL,APPLICATION_ALL,USERAPPLICATIONSETTINGS_ALL,SECURITYROLES_ALL,COMPANY_ALL,SERVICEDETAILS_ALL,USERINCOMPANYINAPPLICATIONDETAILS_ALL,SECURITYUSERINROLES_ALL,RO_DEPARTMENT_ALL,RO_EMPLOYEE_ALL,RO_EMPLOYEEADDINFO_ALL,SKILLS_ALL" />
    <add key="EWorkflowGService"
      value="APPLICATIONSETTINGS_ALL,USERLOG_ALL,USERPREFERENCES_ALL,USERSETTINGS_ALL,USERACCOUNT_ALL,USERAPPLICATIONFAVOURITES_ALL,COMPANYINAPPLICATION_ALL,APPLICATION_ALL,USERAPPLICATIONSETTINGS_ALL,SECURITYROLES_ALL,COMPANY_ALL,SERVICEDETAILS_ALL,USERINCOMPANYINAPPLICATIONDETAILS_ALL,SECURITYUSERINROLES_ALL,RO_DEPARTMENT_ALL,RO_EMPLOYEE_ALL,RO_EMPLOYEEADDINFO_ALL,SKILLS_ALL" />
    <add key="EWorkflowManagementClient"
      value="APPLICATIONSETTINGS_ALL,USERLOG_ALL,USERPREFERENCES_ALL,USERSETTINGS_ALL,USERACCOUNT_ALL,USERAPPLICATIONFAVOURITES_ALL,COMPANYINAPPLICATION_ALL,APPLICATION_ALL,USERAPPLICATIONSETTINGS_ALL,SECURITYROLES_ALL,COMPANY_ALL,SERVICEDETAILS_ALL,USERINCOMPANYINAPPLICATIONDETAILS_ALL,SECURITYUSERINROLES_ALL,RO_DEPARTMENT_ALL,RO_EMPLOYEE_ALL,RO_EMPLOYEEADDINFO_ALL,SKILLS_ALL" />
    <add key="EDocumentsGService"
      value="APPLICATIONSETTINGS_ALL,USERLOG_ALL,USERPREFERENCES_ALL,USERSETTINGS_ALL,USERACCOUNT_ALL,USERAPPLICATIONFAVOURITES_ALL,COMPANYINAPPLICATION_ALL,APPLICATION_ALL,USERAPPLICATIONSETTINGS_ALL,SECURITYROLES_ALL,COMPANY_ALL,SERVICEDETAILS_ALL,USERINCOMPANYINAPPLICATIONDETAILS_ALL,SECURITYUSERINROLES_ALL,RO_DEPARTMENT_ALL,RO_EMPLOYEE_ALL,RO_EMPLOYEEADDINFO_ALL,SKILLS_ALL" />
    <add key="EagClient"
      value="APPLICATIONSETTINGS_ALL,USERLOG_ALL,USERPREFERENCES_ALL,USERSETTINGS_ALL,USERACCOUNT_ALL,USERAPPLICATIONFAVOURITES_ALL,COMPANYINAPPLICATION_ALL,APPLICATION_ALL,USERAPPLICATIONSETTINGS_ALL,SECURITYROLES_ALL,COMPANY_ALL,SERVICEDETAILS_ALL,USERINCOMPANYINAPPLICATIONDETAILS_ALL,SECURITYUSERINROLES_ALL,RO_DEPARTMENT_ALL,RO_EMPLOYEE_ALL,RO_EMPLOYEEADDINFO_ALL,SKILLS_ALL" />
    <add key="EfgClient"
      value="APPLICATIONSETTINGS_ALL,USERLOG_ALL,USERPREFERENCES_ALL,USERSETTINGS_ALL,USERACCOUNT_ALL,USERAPPLICATIONFAVOURITES_ALL,COMPANYINAPPLICATION_ALL,APPLICATION_ALL,USERAPPLICATIONSETTINGS_ALL,SECURITYROLES_ALL,COMPANY_ALL,SERVICEDETAILS_ALL,USERINCOMPANYINAPPLICATIONDETAILS_ALL,SECURITYUSERINROLES_ALL,RO_DEPARTMENT_ALL,RO_EMPLOYEE_ALL,RO_EMPLOYEEADDINFO_ALL,SKILLS_ALL" />
    <add key="CapexClient"
      value="APPLICATIONSETTINGS_ALL,USERLOG_ALL,USERPREFERENCES_ALL,USERSETTINGS_ALL,USERACCOUNT_ALL,USERAPPLICATIONFAVOURITES_ALL,COMPANYINAPPLICATION_ALL,APPLICATION_ALL,USERAPPLICATIONSETTINGS_ALL,SECURITYROLES_ALL,COMPANY_ALL,SERVICEDETAILS_ALL,USERINCOMPANYINAPPLICATIONDETAILS_ALL,SECURITYUSERINROLES_ALL,RO_DEPARTMENT_ALL,RO_EMPLOYEE_ALL,RO_EMPLOYEEADDINFO_ALL,SKILLS_ALL" />
  </clientRoles>

  <connectionStrings>
    <add name="Application_Db" connectionString="Server=LOCALHOST\SQLEXPRESS;Database=mda_security_new;user=sa;password=sS234@#$" providerName="System.Data.SqlClient" />
    <add name="Application_Db_Fo" connectionString="Server=LOCALHOST\SQLEXPRESS;Database=mda_security_new;user=sa;password=sS234@#$" providerName="System.Data.SqlClient" />
  </connectionStrings>

  <system.web>
    <compilation debug="true" targetFramework="4.5.2" />
    <httpRuntime targetFramework="4.5.2" />
  </system.web>
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior name="SecurityServiceBehavior">
          <serviceAuthorization principalPermissionMode="Custom">
            <authorizationPolicies>
              <add policyType="MDA.Core.Service.Authorization.AuthorizationPolicy, MDA.Core.Service" />
            </authorizationPolicies>
          </serviceAuthorization>

          <dataContractSerializer maxItemsInObjectGraph="655360" />
          <serviceMetadata httpGetEnabled="false" httpsGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
          <serviceSecurityAudit auditLogLocation="Application" suppressAuditFailure="false" serviceAuthorizationAuditLevel="Failure"
            messageAuthenticationAuditLevel="SuccessOrFailure" />

          <serviceCredentials>
            <userNameAuthentication userNamePasswordValidationMode="Custom"
              customUserNamePasswordValidatorType="MDA.Core.Service.Validators.ClientValidator, MDA.Core.Service" />
          </serviceCredentials>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <bindings>
      <wsHttpBinding>
        <binding name="SecurityServiceEndpointBindingConfiguration" closeTimeout="00:01:00" maxBufferPoolSize="0" maxReceivedMessageSize="2147483647"
          openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:10:00">
          <security mode="TransportWithMessageCredential">
            <message clientCredentialType="UserName" />
          </security>
        </binding>
      </wsHttpBinding>
    </bindings>

    <services>
      <service name="MDA.Security.Service.SecurityService" behaviorConfiguration="SecurityServiceBehavior">
        <endpoint address="" binding="wsHttpBinding" contract="MDA.Security.Service.IApplicationSettingsService"
          bindingConfiguration="SecurityServiceEndpointBindingConfiguration" />
        <endpoint address="" binding="wsHttpBinding" contract="MDA.Security.Service.IUserAccountService"
          bindingConfiguration="SecurityServiceEndpointBindingConfiguration" />
        <endpoint address="" binding="wsHttpBinding" contract="MDA.Security.Service.IUserApplicationFavouritesService"
          bindingConfiguration="SecurityServiceEndpointBindingConfiguration" />
        <endpoint address="" binding="wsHttpBinding" contract="MDA.Security.Service.IUserLogService"
          bindingConfiguration="SecurityServiceEndpointBindingConfiguration" />
        <endpoint address="" binding="wsHttpBinding" contract="MDA.Security.Service.IUserPreferencesService"
          bindingConfiguration="SecurityServiceEndpointBindingConfiguration" />
        <endpoint address="" binding="wsHttpBinding" contract="MDA.Security.Service.IUserSettingsService"
          bindingConfiguration="SecurityServiceEndpointBindingConfiguration" />
        <endpoint address="" binding="wsHttpBinding" contract="MDA.Security.Service.ICompanyInApplicationService"
          bindingConfiguration="SecurityServiceEndpointBindingConfiguration" />
        <endpoint address="" binding="wsHttpBinding" contract="MDA.Security.Service.IApplicationService"
          bindingConfiguration="SecurityServiceEndpointBindingConfiguration" />
        <endpoint address="" binding="wsHttpBinding" contract="MDA.Security.Service.IUserApplicationSettingsService"
          bindingConfiguration="SecurityServiceEndpointBindingConfiguration" />
        <endpoint address="" binding="wsHttpBinding" contract="MDA.Security.Service.ISecurityRolesService"
          bindingConfiguration="SecurityServiceEndpointBindingConfiguration" />
        <endpoint address="" binding="wsHttpBinding" contract="MDA.Security.Service.ICompanyService"
          bindingConfiguration="SecurityServiceEndpointBindingConfiguration" />
        <endpoint address="" binding="wsHttpBinding" contract="MDA.Security.Service.IServiceDetails"
          bindingConfiguration="SecurityServiceEndpointBindingConfiguration" />
        <endpoint address="" binding="wsHttpBinding" contract="MDA.Security.Service.IUserInCompanyInApplicationDetailsService"
          bindingConfiguration="SecurityServiceEndpointBindingConfiguration" />
        <endpoint address="" binding="wsHttpBinding" contract="MDA.Security.Service.ISecurityUserInRolesService"
          bindingConfiguration="SecurityServiceEndpointBindingConfiguration" />
        <endpoint address="" binding="wsHttpBinding" contract="MDA.Security.Service.IRO_DepartmentService"
          bindingConfiguration="SecurityServiceEndpointBindingConfiguration" />
        <endpoint address="" binding="wsHttpBinding" contract="MDA.Security.Service.IRO_EmployeeService"
          bindingConfiguration="SecurityServiceEndpointBindingConfiguration" />
        <endpoint address="" binding="wsHttpBinding" contract="MDA.Security.Service.IRO_EmployeeAddInfoService"
          bindingConfiguration="SecurityServiceEndpointBindingConfiguration" />
        <endpoint address="" binding="wsHttpBinding" contract="MDA.Security.Service.IRO_SkillsService"
          bindingConfiguration="SecurityServiceEndpointBindingConfiguration" />
        <endpoint contract="IMetadataExchange" binding="mexHttpsBinding" address="mex" />
      </service>
    </services>

    <protocolMapping>
      <add scheme="http" binding="wsHttpBinding" />
    </protocolMapping>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true" />
    <!--
        To browse web app root directory during debugging, set the value below to true.
        Set to false before deployment to avoid disclosing web app folder information.
      -->
    <directoryBrowse enabled="true" />
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.2.6.0" newVersion="5.2.6.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>